.app-header {
  background-color: darkgray;
  display: flex;
  color: white;
  text-align: left;
  padding-left: 100px;
  padding-right: 100px;
}

.app-header h2 {
  display: inline-block;
}

.app-header a {
  color: white;
  margin: auto 0 auto auto;

}
